body{
    background-color:lightcoral;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* 
    
    float: left;
    width: 180px; */
  }
  div.pics{
    margin: 5px;
    border: 4px solid rgb(0, 0, 0);
  }

  
  div.gallery img {
    width: 400;
    height: auto;
  }

  div.descr {
    padding: 25px;
    text-align: center;
  }



.center {
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
}
