/* Site background */
body{
    background-color:rgb(25, 100, 29);
}
/* Images and their borders */
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  div.pics{
    margin: 10px;
    background-color: rgb(121, 135, 116);
    padding:0.8%;
    border: 2px solid rgb(0, 0, 0);
  }

/* Text fields for the froms */
  h2{
    padding-left: 40px;
    font-size : 20px;
  }
  h3{
    padding-left: 40px;
    font-size : 20px;
  }

div.btn{
  padding-left: 45px;
  display: flex;
}

/* Text and descritpion under images */
div.descr {
    font-size:  20px;;
    padding: 5px;
    text-align: center;
}
p {
    font-size : 20px;
    /* background-color : #cfc; */
    padding : 0;
    margin : 0;
    line-height : 20px;
}

/* Title */
.center {
  text-align: center;
  border: 4px solid rgb(0, 0, 0);
  background-color:  rgb(121, 135, 116);
}

