body{
    background-color:lightcoral;
}
div.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* 
    
    float: left;
    width: 180px; */
  }
  div.pics{
    margin: 5px;
    border: transparent
  
  }
  h2{
    padding-left: 45px;
  }

div.btn{
  padding-left: 45px;
}
  
  div.gallery img {
    width: 400;
    height: auto;
  }

  div.descr {
    font-size:  20px;;
    padding: 5px;
    text-align: center;
  }



.center {
  text-align: center;
  border: 3px solid rgb(0, 0, 0);
}
